/* src/Components/Header.css */

/* .navbar-brand img {
    width: 40px;
    height: auto;
  } */
  /* src/Components/TopHeader.css */

.top-header {
    padding: 10px 0;
    font-size: 14px;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #ddd;
  }
  
  .user-options a {
    color: #fff;
    text-decoration: none;
  }
  
  .user-options a:hover {
    color: #ddd;
  }
  
  .navbar-nav .nav-link {
    margin-right: 20px;
  }
  
  .navbar-nav .dropdown-menu {
    margin-top: 0;
  }
  
  .form-control {
    width: auto;
  }
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Optional: Adjust the position of the dropdown menu */

  }
  .navbar-nav .nav-link.text-danger {
    color: Black !important; 
    font-weight: 600;
  }
  .navbar-nav .nav-link.text-danger:hover {
    color: rgb(255, 0, 0) !important; /* Ensure the color is applied */
  }
  .nav-item .text-dark:hover{
    color: red !important;
  }
  .f-600{
    font-weight: 600;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  